* {
  padding: 0;
  margin: 0;
}

/* modalの背景の設定 */
.modal_shadow {
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  justify-items: center;
  align-items: center;
}

/* modalの中身を囲う背景の設定 */
.modal_content {
  background: #fff;
  width: 80%;
  height: 80%;
  max-height: 500px;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 20px;
  max-width: 500px;
}

.modal_content h1 {
  white-space: nowrap;
}
